{% extends 'chapters/base.html' %}

{% block content %}
    <main>

    <div id="w-lesson">
    <b-tabs type="is-boxed">
        <b-tab-item label="Flask 10.2">
        <p class="exampleTitle">Оглавление</p>
            {% for pk in fl_102 %}
                <p><a href="#{{ pk.id }}">{{ pk.name }}</a></p>
            {% endfor %}
        {% for i in fl_102 %}
            {% if i.name %}
                <p id="{{ i.id }}"></p>
                <h1>{{ i.name }}</h1>
            {% endif %}

            {% if i.description %}
                <p class="exampleTitle">{{ i.description }}</p>
            {% endif %}

            {% if i.code %}
                <pre><code data-language="html">
                    {{ i.code }}
                </code></pre>
            {% endif %}

            {% if i.video %}
                <form action="/flask/{{ i.slug }}">
                    <input type="submit" value="Смотреть видео" />
                </form>
            {% endif %}

        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Flask 17.1">
                <p class="exampleTitle">Оглавление</p>
                    {% for pk in fl_171 %}
                        <p><a href="#{{ pk.id }} + 10">{{ pk.name }}</a></p>
                    {% endfor %}
                {% for i in fl_171 %}
                    {% if i.name %}
                        <p id="{{ i.id }} + 10"></p>
                        <h1>{{ i.name }}</h1>
                    {% endif %}

                    {% if i.description %}
                        <p class="exampleTitle">{{ i.description }}</p>
                    {% endif %}

                    {% if i.code %}
                        <pre><code data-language="html">
                            {{ i.code }}
                        </code></pre>
                    {% endif %}

                    {% if i.video %}
                        <form action="/flask/{{ i.slug }}">
                            <input type="submit" value="Смотреть видео" />
                        </form>
                    {% endif %}

                {% endfor %}


        </b-tab-item>

        <b-tab-item label="Flask 17.2">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in fl_172 %}
                  <p><a href="#{{ pk.id }} + 50">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in fl_172 %}
                {% if i.name %}
                  <p id="{{ i.id }} + 50"></p>
                  <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                  <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/flask/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}

            {% endfor %}


        </b-tab-item>

        <b-tab-item label="Flask 18.1">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in fl_181 %}
                  <p><a href="#{{ pk.id }} + 90">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in fl_181 %}
                {% if i.name %}
                  <p id="{{ i.id }} + 90"></p>
                  <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                  <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/flask/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}
            {% endfor %}


        </b-tab-item>

        <b-tab-item label="Flask 18.2">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in fl_1822 %}
                  <p><a href="#{{ pk.id }} + 130">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in fl_182 %}
                {% if i.name %}
                  <p id="{{ i.id }} + 130"></p>
                  <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                  <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/flask/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}
            {% endfor %}


        </b-tab-item>

        <b-tab-item label="Flask 19.1">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in fl_191 %}
                  <p><a href="#{{ pk.id }} + 170">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in fl_191 %}
                {% if i.name %}
                  <p id="{{ i.id }} + 170"></p>
                  <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                  <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

               {% if i.video %}
                    <form action="/flask/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}
            {% endfor %}


        </b-tab-item>

        <b-tab-item label="Flask 19.2">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in fl_192 %}
                  <p><a href="#{{ pk.id }} + 210">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in fl_192 %}
                {% if i.name %}
                  <p id="{{ i.id }} + 210"></p>
                  <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                  <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/flask/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}

            {% endfor %}

        </b-tab-item>

    </b-tabs>

{% endblock %}

</div>
{% block menu %}


    </main>
{% endblock %}

