{% extends 'chapters/base.html' %}

{% block content %}
    <main>

    <div id="w-lesson">
    <b-tabs type="is-boxed">
        <b-tab-item label="Hosting 25.1">
        <p class="exampleTitle">Оглавление</p>
            {% for pk in hosting_251 %}
                <p><a href="#{{ pk.id }}">{{ pk.name }}</a></p>
            {% endfor %}
        {% for i in hosting_251 %}
            {% if i.name %}
                <p id="{{ i.id }}"></p>
                <h1>{{ i.name }}</h1>
            {% endif %}

            {% if i.photo %}
               <center>
                <p><img src={{ i.photo }} /></p>
               </center>
            {% endif %}

            {% if i.description %}
                <p class="exampleTitle">{{ i.description }}</p>
            {% endif %}

            {% if i.code %}
                <pre><code data-language="html">
                    {{ i.code }}
                </code></pre>
            {% endif %}

            {% if i.video %}
                <form action="/hosting/{{ i.slug }}">
                    <input type="submit" value="Смотреть видео" />
                </form>
            {% endif %}



        {% endfor %}


        </b-tab-item>

    </b-tabs>

{% endblock %}

</div>
{% block menu %}


    </main>
{% endblock %}

