{% extends 'chapters/base.html' %}
{% block link %}
    <div class="w-title">
        <div class="container"><h1>Оглавление</h1>
            {% for pk in content %}
                <p><a href="#{{ pk.id }}">{{ pk.name }}</a></p>
            {% endfor %}
        </div>

    </div>
{% endblock %}
{% block content %}
    <main>
    {% for i in content %}

    <div class="w-title">
        <p id={{ i.id }}></p>
        <div class="container"><h1>{{ i.name }}</h1></div>
    </div>


    <div id="w-lesson">
    <b-tabs type="is-boxed">
        <b-tab-item label="Описание">
            <p class="exampleTitle">{{ i.description }}</p>
            <pre><code data-language="html">
                {{ i.code }}
            </code></pre>



        </b-tab-item>

        <b-tab-item label="Видео">
            <section id="w-task">
                <b-tabs type="is-toggle">
                    <b-tab-item label=1>
                        <div id="w-task">
                            <w-task-single-choice
                                    :quiz="[
    {
    question:'С помощью какого атрибута устанавливается якорь?',
    answers:[{text:'id',correct:!0},{text:'class'},{text:'href'},{text:'name'}]
    },
    {
    question:'Какая ссылка на якорь правильная?',
    answers:[{code:'<a href=&quot;#content&quot;>Содержание</a>',correct:!0},{code:'<a href=&quot;content&quot;>Содержание</a>'},{code:'<a name=&quot;#content&quot;>Содержание</a>'},{code:'<a name=&quot;content&quot;>Содержание</a>'}]
    },
    {
    question:'Как сделать ссылку с якорем на другую страницу?',
    answers:[{code:'<a href=&quot;link.html#content&quot;>Содержание</a>',correct:!0},{code:'<a href=&quot;link.html?content&quot;>Содержание</a>'},{code:'<a href=&quot;link.html&content&quot;>Содержание</a>'},{code:'<a href=&quot;link.html$content&quot;>Содержание</a>'}]
    },
    {
    question:'Для ссылки <a href=&quot;#title&quot;> как записать якорь?',
    answers:[{code:'<h2 id=&quot;title&quot;>Заголовок</h2>',correct:!0},{code:'<h2 id=&quot;#title&quot;>Заголовок</h2>'},{code:'<h2 id=&quot;$title&quot;>Заголовок</h2>'},{code:'<h2 id=&quot;?title&quot;>Заголовок</h2>'}]
    },
    {
    question:'Какая ошибка содержится в следующем коде?',
    code:'<p><a href=&quot;#usb&quot;>Перейти</a></p>\n<h2 id=&quot;usb&quot;>Заголовок 1</h2>\n<h2 id=&quot;usb&quot;>Заголовок 2</h2>',
    answers:[{text:'Повторяется значение id.',correct:!0},{text:'Неверно записан адрес ссылки.'},{text:'Неправильное вложение элементов.'},{text:'Элемент <p> идёт перед <h2>.'}]
    }
]"></w-task-single-choice>
                        </div>
                    </b-tab-item>
                    <b-tab-item label=2>
                        <div id="w-task">
                            <w-task-fill-in-the-blanks
                                    quiz="<p><a href=&quot;*#warlords*&quot;>Перейти</a></p><h2 *id*=&quot;warlords&quot;>Warlords</h2>"></w-task-fill-in-the-blanks>
                        </div>
                    </b-tab-item>
                    <b-tab-item label=3>
                        <div id="w-task">
                            <w-task-drag-the-words
                                    quiz="*<!DOCTYPE html>*
*<html>*
  *<head>*
    <meta charset=&quot;utf-8&quot;><title>Якоря</title>
  *</head>*
  <body>
    *<h1 id=&quot;title&quot;>*Якоря</h1><p>*<a href=&quot;#title&quot;>*Наверх*</a>*</p></body></html>"></w-task-drag-the-words>
                        </div>
                    </b-tab-item>
                </b-tabs>
            </section>
        </b-tab-item>
    </b-tabs>
    {% endfor %}

{% endblock %}

</div>
{% block menu %}


    </main>
{% endblock %}

