{% extends 'chapters/base.html' %}

{% block content %}
    <main>

    <div id="w-lesson">
    <b-tabs type="is-boxed">
            {% for queryset in rows.values %}
            <b-tab-item label="label">
            <p class="exampleTitle">Оглавление</p>
                {% for q in queryset %}
                    <p><a href="#{{ q.slug }}">{{ q.name }}</a></p>
                {% endfor %}
            {% for i in queryset %}
                {% if i.name %}
                    <p id="{{ i.slug }}"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

            {% endfor %}

            </b-tab-item>
            {% endfor %}
    </b-tabs>

{% endblock %}

</div>
{% block menu %}


    </main>
{% endblock %}

