{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/themes/webref/ico/favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/webref/ico/64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/webref/ico/32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/webref/ico/16x16.png">
    <title>Якоря | WebReference</title>
    <link rel="stylesheet" media="all"
          href="{% static '/chapters/css/css_6J2K3eXEWyV5JT15TYdFXPuADLnwFKUIYbpG0bsvwuE.css' %}"/>
    <!--
            <script>window.yaContextCb=window.yaContextCb||[]</script><script src="https://yandex.ru/ads/system/context.js" async></script>
            --></head>
<body>
<header class="w-header-main">
    <nav class="navbar container" role="navigation" aria-label="main navigation">
        <div class="navbar-brand"><a href="/" class="w-logo"><span class="w-logo-p1">Main</span><span class="w-logo-p2">Sheets</span></a><a
                role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="w-navbar"><span
                aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
        <div id="w-navbar" class="navbar-menu w-menu-main">
            <div class="navbar-start"><a href="/" class="navbar-item" data-drupal-link-system-path="&lt;front&gt;">Главная</a><a
                    href="/ref" class="navbar-item" data-drupal-link-system-path="taxonomy/term/24">Справочники</a>
                <div class="navbar-item has-dropdown is-hoverable"><span class="navbar-link">Руководства</span>
                    <div class="navbar-dropdown"><a href="/layout" class="navbar-item active-trail"
                                                    data-drupal-link-system-path="taxonomy/term/43">Вёрстка</a><a
                            href="/dev" class="navbar-item" data-drupal-link-system-path="taxonomy/term/1">Веб-технологии</a>
                    </div>
                </div>
                <a href="/course" class="navbar-item" data-drupal-link-system-path="course">Курсы</a><a href="/recipe"
                                                                                                        class="navbar-item"
                                                                                                        data-drupal-link-system-path="recipe">Рецепты</a><a
                        href="/practice" class="navbar-item" data-drupal-link-system-path="practice">Практика</a><a
                        href="/individual" class="navbar-item"
                        data-drupal-link-system-path="individual">Самостоятельная</a><a href="/quiz" class="navbar-item"
                                                                                        data-drupal-link-system-path="quiz">Викторина</a>
                <div class="is-hidden-desktop">
                    <form action="/search/"><input type="search" placeholder="Поиск по сайту" name="s"
                                                   autocomplete="off" class="input"><input type="hidden" name="cx"
                                                                                           value="partner-pub-0708135098984815:9970767379"><input
                            type="hidden" name="cof" value="FORID:10"><input type="hidden" name="ie" value="UTF-8">
                    </form>
                </div>
            </div>
            <div class="navbar-end">

            </div>
    </nav>
</header>
<main>
    <div class="w-title">
        <div class="container"><h1>Якоря</h1></div>
    </div>
    <div class="container">
        <div class="w-block" id="block-breadcrumbs">
            <div class="w-block-content">
                <nav role="navigation" aria-labelledby="system-breadcrumb"><h2 id="system-breadcrumb"
                                                                               class="visually-hidden">Breadcrumb</h2>
                    <ol>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/course">Учебные курсы</a></li>
                        <li><a href="/course/html-tutorial">Самоучитель HTML</a></li>
                        <li>
                            Якоря
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-9-desktop is-12-tablet is-12-mobile w-content" id="w-main">
                <div data-drupal-messages-fallback class="hidden"></div>
                <div id="w-lesson">
                    <b-tabs type="is-boxed">
                        <b-tab-item label="Описание"><p>Якорем называется закладка с уникальным именем на определённом
                            месте веб-страницы, предназначенная для перехода к ней по ссылке. Якоря удобно применять в
                            документах большого объёма, чтобы можно было быстро переходить к нужному разделу.</p>
                            <p>Для создания якоря следует вначале сделать закладку в соответствующем месте и дать ей
                                уникальное имя при помощи атрибута <span class="attribute">id</span> (пример&nbsp;1). В
                                имени допустимо писать русские, латинские буквы и символы, нельзя только пробел. В
                                качестве значения <span class="attribute">href</span> для перехода к этому якорю
                                используется значение <span class="attribute">id</span> с символом решётки (#) впереди.
                            </p>
                            <p class="exampleTitle">Пример 1. Создание якоря</p>
                            <pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Быстрый переход внутри документа&lt;/title&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;p id=&quot;top&quot;&gt;&lt;/p&gt;
  &lt;p&gt;...&lt;/p&gt;
  &lt;p&gt;&lt;a href=&quot;#top&quot;&gt;Наверх&lt;/a&gt;&lt;/p&gt;
 &lt;/body&gt;
&lt;/html&gt;</code></pre>
                            <p>Имя ссылки на якорь начинается с решётки (#), после чего идёт имя якоря, оно выбирается
                                любое, соответствующее тематике. Главное, чтобы значения атрибутов <span
                                        class="attribute">id</span> и <span class="attribute">href</span> совпадали
                                (символ решётки не в счёт).</p>
                            <p>При щелчке по такой ссылке произойдёт переход к элементу в окне браузера.</p>
                            <p>С якорями связана одна особенность работы браузера. После перехода к указанному якорю
                                нажатие на кнопку «Назад» возвращает не на предыдущую просмотренную страницу, а к
                                ссылке, с которой был сделан переход к якорю. Получается, что для перехода к предыдущему
                                документу надо нажать кнопку «Назад» два раза.</p>
                            <p>Ссылку также можно сделать на якорь на другой веб-странице и даже на другом сайте. Для
                                этого в атрибуте <span class="attribute">href</span> элемента <span class="tag">&lt;a&gt;</span>
                                надо указать полный адрес документа и в конце добавить символ решётки и имя якоря
                                (пример&nbsp;2).</p>
                            <p class="exampleTitle">Пример 2. Быстрый переход по Википедии</p>
                            <w-example>&lt;!DOCTYPE html&gt;
                                &lt;html&gt;
                                &lt;head&gt;
                                &lt;meta charset=&quot;utf-8&quot;&gt;
                                &lt;title&gt;Якорь в другом документе&lt;/title&gt;
                                &lt;/head&gt;
                                &lt;body&gt;
                                &lt;p&gt;&lt;a href=&quot;https://ru.wikipedia.org/wiki/HTML5#Разметка&quot;&gt;Разметка
                                HTML 5&lt;/a&gt;&lt;/p&gt;
                                &lt;/body&gt;
                                &lt;/html&gt;
                            </w-example>
                            <p>В данном примере показано создание ссылки на страницу Википедии, при открытии ссылки
                                происходит переход к разделу с якорем <span class="var">HTML_5.1</span>.</p>
                            <p>Если на веб-странице содержится ссылка на якорь, а самого якоря нет, то никакой ошибки не
                                возникнет. По этой причине решётку часто используют для пустых ссылок, когда ссылка
                                нужна, но адрес пока не известен (пример&nbsp;3) или нажатие обрабатывается программой
                                на JavaScript.</p>
                            <p class="exampleTitle">Пример 3. Пустые ссылки</p>
                            <pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;#&lt;/title&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;p&gt;&lt;a href=&quot;#&quot;&gt;О нас&lt;/a&gt;
   &lt;a href=&quot;#&quot;&gt;Проекты&lt;/a&gt;
   &lt;a href=&quot;#&quot;&gt;Вакансии&lt;/a&gt;&lt;/p&gt;
 &lt;/body&gt;
&lt;/html&gt;</code></pre>
                            <p>Такого рода ссылки по своему виду ничем не отличаются от обычных ссылок&nbsp;— по ним
                                можно щёлкать и они становятся при этом посещаемыми. Естественно, перехода на другую
                                страницу при этом нет, но происходит переход к верхней части страницы, что особенно
                                заметно при длинном тексте.</p>

</body>
]"></w-task-single-choice></div></b-tab-item><b-tab-item label=2><div id="w-task"><w-task-fill-in-the-blanks
                  quiz="<p><a href=&quot;*#warlords*&quot;>Перейти</a></p><h2 *id*=&quot;warlords&quot;>Warlords</h2>"></w-task-fill-in-the-blanks></div></b-tab-item><b-tab-item label=3><div id="w-task"><w-task-drag-the-words
                  quiz="*<!DOCTYPE html>*

*<html>*
*<head>*
    <meta charset=&quot;utf-8&quot;>
    <title>Якоря</title>
*</head>*
<body>
*<h1 id=&quot;title&quot;>*Якоря</h1>
<p>*<a href=&quot;#title&quot;>*Наверх*</a>*</p></body>
</html>"></w-task-drag-the-words></div></b-tab-item></b-tabs></section></b-tab-item></b-tabs></div></div>
<aside class="column is-3-desktop is-12-tablet is-12-mobile w-sidebar" id="w-sidebar">
    <section class="w-region w-region-sidebar-toc">
        <div class="w-block" class="views-element-container" id="block-course-toc"><h2 class="w-block-title">
            Содержание</h2>
            <div class="w-block-content">
                <ul>
                    <li><a href="/course/html-tutorial/introduction" hreflang="ru">Введение в HTML</a></li>
                    <li><a href="/course/html-tutorial/tool" hreflang="ru">Инструментарий</a></li>
                    <li><a href="/course/html-tutorial/element" hreflang="ru">Элементы HTML</a></li>
                    <li><a href="/course/html-tutorial/structure" hreflang="ru">Структура HTML-кода</a></li>
                    <li><a href="/course/html-tutorial/attr" hreflang="ru">Атрибуты элементов</a></li>
                    <li><a href="/course/html-tutorial/value" hreflang="ru">Значения атрибутов</a></li>
                    <li><a href="/course/html-tutorial/text" hreflang="ru">Работа с текстом</a></li>
                    <li><a href="/course/html-tutorial/link" hreflang="ru">Ссылки</a></li>
                    <li><a href="/course/html-tutorial/anchor" hreflang="ru">Якоря</a></li>
                    <li><a href="/course/html-tutorial/list" hreflang="ru">Списки</a></li>
                    <li><a href="/course/html-tutorial/image" hreflang="ru">Изображения</a></li>
                    <li><a href="/course/html-tutorial/table" hreflang="ru">Таблицы</a></li>
                </ul>
            </div>
        </div>
    </section>
</aside></div></div></main>
<footer>
    <div class="w-footer-top">
        <div class="container">
            <div class="columns">
                <div class="column is-12-mobile is-3-desktop"><p class="w-logo"><span class="w-logo-p1">Web</span><span
                        class="w-logo-p2">Reference</span></p>
                    <p class="w-footer-editor">Гл. редактор: Влад Мержевич</p>
                    <address class="w-footer-address">vlad@webref.ru</address>
                </div>
                <section class="column is-12-mobile is-7-desktop"><h3>О сайте</h3>
                    <p class="w-footer-about">На сайте находятся справочники и учебные курсы по различным
                        веб-технологиям, а также руководства по вёрстке веб-страниц.</p></section>
                <div class="column is-hidden-touch is-1-desktop counter">
                    <script src="/themes/webref/js/li.js"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="w-footer-bottom">
        <div class="container">
            <div class="columns">
                <section class="column is-6-mobile is-3-desktop"><h3>Связи</h3>
                    <ul class="w-footer-reference">
                        <li><i class="icon-rss"></i><a href="//feeds.feedburner.com/webref" rel="nofollow">RSS</a></li>
                        <li><i class="icon-jsfiddle"></i><a href="//jsfiddle.net/user/webref/fiddles/" rel="nofollow">JSFiddle</a>
                        </li>
                        <li><i class="icon-github"></i><a href="//github.com/webref" rel="nofollow">GitHub</a></li>
                        <li><i class="icon-vk"></i><a href="//vk.com/webref" rel="nofollow">ВКонтакте</a></li>
                        <li><i class="icon-doc-text"></i><a
                                href="//drive.google.com/drive/folders/1LZOhiB5pvbtQtnx_z9XzjjgUOK5pu1U-"
                                rel="nofollow">Google Диск</a></li>
                        <li><i class="icon-play"></i><a href="//play.google.com/store/apps/developer?id=webref.ru"
                                                        rel="nofollow">Google Play</a></li>
                        <li><i class="icon-youtube"></i><a href="//www.youtube.com/channel/UC0KbjRLHLbfWbL7IkmHSZNg"
                                                           rel="nofollow">YouTube</a></li>
                        <li><i class="icon-users"></i><a href="//htmlforum.io" rel="nofollow">Форум</a></li>
                    </ul>
                </section>
                <section class="column is-6-mobile is-3-desktop"><h3>Разделы сайта</h3>
                    <ul class="w-footer-menu">
                        <li><i class="icon-book"></i><a href="/ref">Справочники</a></li>
                        <li><i class="icon-layout"></i><a href="/layout">Вёрстка</a></li>
                        <li><i class="icon-gear"></i><a href="/dev">Веб-технологии</a></li>
                        <li><i class="icon-help"></i><a href="/recipe">Рецепты</a></li>
                        <li><i class="icon-bookmark"></i><a href="/course">Учебные курсы</a></li>
                        <li><i class="icon-pencil"></i><a href="/practice">Практика</a></li>
                        <li><i class="icon-css3"></i><a href="/individual">Самостоятельная</a></li>
                        <li><i class="icon-help"></i><a href="/quiz">Викторина</a></li>
                    </ul>
                </section>
                <section class="column is-6-mobile is-3-desktop"><h3>Популярное</h3>
                    <div class="w-block" class="views-element-container" id="block-views-block-popular">
                        <div class="w-block-content">
                            <ul class="w-footer-menu">
                                <li><img width="16" height="16" src="/assets/images/svg/google-play.svg"/><a
                                        href="/mobile/google_play" hreflang="ru">Публикация приложений в Google Play</a>
                                </li>
                                <li><img width="16" height="16" src="/assets/images/svg/json.svg"/><a
                                        href="/dev/json-tutorial" hreflang="ru">Руководство по JSON</a></li>
                                <li><img width="16" height="16" src="/assets/images/svg/css3.svg"/><a
                                        href="/layout/magic-of-css" hreflang="ru">Магия CSS</a></li>
                                <li><img width="16" height="16" src="/assets/images/svg/html5.svg"/><a
                                        href="/layout/learn-html-css" hreflang="ru">Уроки по HTML и CSS</a></li>
                                <li><img width="16" height="16" src="/assets/images/svg/corona-sdk.svg"/><a
                                        href="/mobile/corona" hreflang="ru">Делаем приложение на Corona SDK</a></li>
                                <li><img width="16" height="16" src="/assets/images/svg/layout.svg"/><a
                                        href="/layout/flexbox-tutorial" hreflang="ru">Руководство по флексбоксам</a>
                                </li>
                                <li><img width="16" height="16" src="/assets/images/svg/html5_3d_effects.svg"/><a
                                        href="/dev/canvasdeepdive" hreflang="ru">Глубокое погружение в Canvas</a></li>
                                <li><img width="16" height="16" src="/assets/images/svg/css3.svg"/><a
                                        href="/layout/advanced-html-css" hreflang="ru">Продвинутые уроки по HTML и
                                    CSS</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="column is-6-mobile is-3-desktop"><h3>Помощь по сайту</h3>
                    <ul class="w-footer-help">
                        <li><a href="/author">Авторы</a></li>
                        <li><a href="/help/legend">Обозначения</a></li>
                        <li><a href="/help/term">Терминология</a></li>
                        <li><a href="/help/app">Наши приложения</a></li>
                        <li><a href="/help/privacy">Конфиденциальность</a></li>
                        <li><a href="/help/download">Скачать</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="w-footer-hosting">
        <div class="container"><p><a href="//beget.com/ru" rel="nofollow"><img src="/themes/webref/img/beget.svg"
                                                                               alt="Beget" width="100"
                                                                               class="hosting-logo"></a>
            Сайт WebReference.ru использует <a href="//beget.com/ru" rel="nofollow">VPS от компании Beget</a>.</p></div>
    </div>
    <div class="w-footer-copyright">
        <div class="container">
            <div class="columns">
                <div class="column is-12-mobile is-2-tablet is-2-desktop"><a
                        href="http://creativecommons.org/licenses/by-nc/4.0/deed.ru" rel="nofollow"><img
                        alt="Лицензия Creative Commons" src="/themes/webref/img/cc-by-nc.svg" width="120"
                        height="42"></a></div>
                <div class="column is-12-mobile is-10-tablet is-10-desktop">Все материалы сайта доступны по <a
                        href="http://creativecommons.org/licenses/by-nc/4.0/deed.ru" rel="nofollow">лицензии Creative
                    Commons «Attribution-NonCommercial» («Атрибуция — Некоммерческое использование») 4.0 Всемирная</a>,
                    если не указано иное.
                </div>
            </div>
        </div>
    </div>
</footer>

</html>