{% extends 'chapters/base.html' %}
{% load embed_video_tags %}
{% block content %}
    <main>


                {% if name %}
                <h1>{{ name }}</h1>
                {% endif %}

                {% if description %}
                <p class="exampleTitle">{{ description }}</p>
                {% endif %}

                {% video movie 'small' %}

                {% if code %}
                <pre><code data-language="html">
                    {{ code }}
                </code></pre>
                {% endif %}



{% endblock %}

{% block menu %}


    </main>
{% endblock %}

