{% extends 'chapters/base.html' %}
{% block content %}
    <main>

    <div id="w-lesson">
    <b-tabs type="is-boxed">
        <b-tab-item label="Dj 27.1">
        <p class="exampleTitle">Оглавление</p>
            {% for pk in dj_271 %}
                <p><a href="#{{ pk.id }}">{{ pk.name }}</a></p>
            {% endfor %}
        {% for i in dj_271 %}
            {% if i.name %}
                <p id="{{ i.id }}"></p>
                <h1>{{ i.name }}</h1>
            {% endif %}

            {% if i.photo %}
               <center>
                <p><img src={{ i.photo }} width="70%" /></p>
               </center>
            {% endif %}

            {% if i.description %}
                <p class="exampleTitle">{{ i.description }}</p>
            {% endif %}

            {% if i.code %}
                <pre><code data-language="html">
                    {{ i.code }}
                </code></pre>
            {% endif %}

            {% if i.video %}
                <form action="/dj/{{ i.slug }}">
                    <input type="submit" value="Смотреть видео" />
                </form>
            {% endif %}

        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 27.2">
                <p class="exampleTitle">Оглавление</p>
                    {% for pk in dj_272 %}
                        <p><a href="#{{ pk.id }} + 10">{{ pk.name }}</a></p>
                    {% endfor %}
                {% for i in dj_272 %}
                    {% if i.name %}
                        <p id="{{ i.id }} + 10"></p>
                        <h1>{{ i.name }}</h1>
                    {% endif %}

                    {% if i.description %}
                        <p class="exampleTitle">{{ i.description }}</p>
                    {% endif %}

                    {% if i.code %}
                        <pre><code data-language="html">
                            {{ i.code }}
                        </code></pre>
                    {% endif %}

                    {% if i.video %}
                        <form action="/dj/{{ i.slug }}">
                            <input type="submit" value="Смотреть видео" />
                        </form>
                    {% endif %}



                {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 28.1">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in dj_281 %}
                    <p><a href="#{{ pk.id }} + 50">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in dj_281 %}
                {% if i.name %}
                    <p id="{{ i.id }} + 50"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

               {% if i.video %}
                    <form action="/dj/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}


        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 28.2">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in dj_282 %}
                    <p><a href="#{{ pk.id }} + 90">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in dj_282 %}
                {% if i.name %}
                    <p id="{{ i.id }} + 90"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/dj/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}


        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 29.1">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in dj_291 %}
                    <p><a href="#{{ pk.id }} + 130">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in dj_291 %}
                {% if i.name %}
                    <p id="{{ i.id }} + 130"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/dj/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}


        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 29.2">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in dj_292 %}
                    <p><a href="#{{ pk.id }} + 170">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in dj_292 %}
                {% if i.name %}
                    <p id="{{ i.id }} + 170"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                        <form action="/dj/{{ i.slug }}">
                            <input type="submit" value="Смотреть видео" />
                        </form>
                {% endif %}


        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 30.1">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in dj_301 %}
                    <p><a href="#{{ pk.id }} + 210">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in dj_301 %}
                {% if i.name %}
                    <p id="{{ i.id }} + 210"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/dj/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}

        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 30.2">
            <p class="exampleTitle">Оглавление</p>
                {% for pk in dj_302 %}
                    <p><a href="#{{ pk.id }} + 250">{{ pk.name }}</a></p>
                {% endfor %}
            {% for i in dj_302 %}
                {% if i.name %}
                    <p id="{{ i.id }} + 250"></p>
                    <h1>{{ i.name }}</h1>
                {% endif %}

                {% if i.description %}
                    <p class="exampleTitle">{{ i.description }}</p>
                {% endif %}

                {% if i.code %}
                    <pre><code data-language="html">
                        {{ i.code }}
                    </code></pre>
                {% endif %}

                {% if i.video %}
                    <form action="/dj/{{ i.slug }}">
                        <input type="submit" value="Смотреть видео" />
                    </form>
                {% endif %}

        {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 31.1">
                <p class="exampleTitle">Оглавление</p>
                    {% for pk in dj_311 %}
                        <p><a href="#{{ pk.id }} + 290">{{ pk.name }}</a></p>
                    {% endfor %}
                {% for i in dj_311 %}
                    {% if i.name %}
                        <p id="{{ i.id }} + 290"></p>
                        <h1>{{ i.name }}</h1>
                    {% endif %}

                    {% if i.description %}
                        <p class="exampleTitle">{{ i.description }}</p>
                    {% endif %}

                    {% if i.code %}
                        <pre><code data-language="html">
                            {{ i.code }}
                        </code></pre>
                    {% endif %}

                    {% if i.video %}
                        <form action="/dj/{{ i.slug }}">
                            <input type="submit" value="Смотреть видео" />
                        </form>
                    {% endif %}

                {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 31.2">
                <p class="exampleTitle">Оглавление</p>
                    {% for pk in dj_312 %}
                        <p><a href="#{{ pk.id }} + 330">{{ pk.name }}</a></p>
                    {% endfor %}
                {% for i in dj_312 %}
                    {% if i.name %}
                        <p id="{{ i.id }} + 330"></p>
                        <h1>{{ i.name }}</h1>
                    {% endif %}

                    {% if i.description %}
                        <p class="exampleTitle">{{ i.description }}</p>
                    {% endif %}

                    {% if i.code %}
                        <pre><code data-language="html">
                            {{ i.code }}
                        </code></pre>
                    {% endif %}

                    {% if i.video %}
                        <form action="/dj/{{ i.slug }}">
                            <input type="submit" value="Смотреть видео" />
                        </form>
                    {% endif %}

                {% endfor %}


        </b-tab-item>

        <b-tab-item label="Dj 32.0">
                <p class="exampleTitle">Оглавление</p>
                    {% for pk in dj_320 %}
                        <p><a href="#{{ pk.id }} + 370">{{ pk.name }}</a></p>
                    {% endfor %}
                {% for i in dj_320 %}
                    {% if i.name %}
                        <p id="{{ i.id }} + 370"></p>
                        <h1>{{ i.name }}</h1>
                    {% endif %}

                    {% if i.description %}
                        <p class="exampleTitle">{{ i.description }}</p>
                    {% endif %}

                    {% if i.code %}
                        <pre><code data-language="html">
                            {{ i.code }}
                        </code></pre>
                    {% endif %}

                    {% if i.video %}
                        <form action="/dj/{{ i.slug }}">
                            <input type="submit" value="Смотреть видео" />
                        </form>
                    {% endif %}


                {% endfor %}


        </b-tab-item>
    </b-tabs>

{% endblock %}

</div>
{% block menu %}


    </main>
{% endblock %}

